In [98]:
import re
import pandas as pd

In [112]:
text = ['09/01/2021','09-01-2021','09 01 2021','09 Jan 2021','09 Jan2021','09Jan 2021','09 Januari 2021','09 January 2021','09012021']

## Check Variation

In [113]:
def getVariation(val):
    import re
    
    if (re.match(r'\d+/+\d+/+\d',val)) :
        return 'slash'
    if re.match(r'\d+-+\d+-\d',val):
        return 'hiphen'
    if re.match(r'\w+\s+\w+\s+\w',val):
        return 'space'
    if re.match(r'\w\w\w\w\w',val):
        return 'merge'
    else:
        return 'other'

In [114]:
ls_variasi = [[k,getVariation(k)] for k in text]

In [115]:
df_variasi = pd.DataFrame(ls_variasi,columns=['birthday','pattern'])

In [116]:
df_variasi

          birthday pattern
0       09/01/2021   slash
1       09-01-2021  hiphen
2       09 01 2021   space
3      09 Jan 2021   space
4       09 Jan2021   other
5       09Jan 2021   merge
6  09 Januari 2021   space
7  09 January 2021   space
8         09012021   merge